{% extends "@User/Default/index.html.twig" %}
{% block slide %}
    <div class="inner_page-banner one-img">
    </div>
    <div class="using-border py-3">
        <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
                <li>
                    <a href="index.html">Evénements</a>
                    <span>/</span>
                </li>
                <li>Détails</li>
            </ul>
        </div>
    </div>

{% endblock %}
{% block body %}
    <style>
        form .stars {
            background: url("/../SymfonyPi/web/images/stars.png") repeat-x 0 0;
            width: 150px;
            margin: 0 auto;
        }

        form .stars input[type="radio"] {
            position: absolute;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        form .stars input[type="radio"].star-5:checked ~ span {
            width: 100%;
        }
        form .stars input[type="radio"].star-4:checked ~ span {
            width: 80%;
        }
        form .stars input[type="radio"].star-3:checked ~ span {
            width: 60%;
        }
        form .stars input[type="radio"].star-2:checked ~ span {
            width: 40%;
        }
        form .stars input[type="radio"].star-1:checked ~ span {
            width: 20%;
        }
        form .stars label {
            display: block;
            width: 30px;
            height: 30px;
            margin: 0!important;
            padding: 0!important;
            text-indent: -999em;
            float: left;
            position: relative;
            z-index: 10;
            background: transparent!important;
            cursor: pointer;
        }
        form .stars label:hover ~ span {
            background-position: 0 -30px;
        }
        form .stars label.star-5:hover ~ span {
            width: 100% !important;
        }
        form .stars label.star-4:hover ~ span {
            width: 80% !important;
        }
        form .stars label.star-3:hover ~ span {
            width: 60% !important;
        }
        form .stars label.star-2:hover ~ span {
            width: 40% !important;
        }
        form .stars label.star-1:hover ~ span {
            width: 20% !important;
        }
        form .stars span {
            display: block;
            width: 0;
            position: relative;
            top: 0;
            left: 0;
            height: 30px;
            background: url("/../SymfonyPi/web/images/stars.png") repeat-x 0 -60px;
            -webkit-transition: -webkit-width 0.5s;
            -moz-transition: -moz-width 0.5s;
            -ms-transition: -ms-width 0.5s;
            -o-transition: -o-width 0.5s;
            transition: width 0.5s;
        }
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $('input:checkbox').change(function () {
            if (this.checked) {
                $('div.menuitem').addClass("selected");
            }
        });
    </script>


    <section class="about py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">

            <div class="about-innergrid-agile text-center">
                <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">A propos de notre événement </h3>
                <h4>{{ evttesting.nom }}</h4>
                <p class="mb-3"> Notre événement intitulé {{ evttesting.nom }} de type {{ evttesting.type }}
                    se déoulera le {{ fot }}  à {{ evttesting.heure }} à {{ evttesting.lieu }} <br>
                    et qui portera sur {{ evttesting.description }}
                </p>
                <div class=" ">
                    <img src="{{ asset('imagesEvent/') }}{{ evttesting.nomImage }} " style="width: 260px;height: 240px" class="img-thumbnail img-fluid" alt="">
                </div>
            </div>

        </div>
        {{ form_start(form) }}
        <form id="ratingsForm" name="rating">

            <div class="stars">
                <input type="radio" name="star" class="star-1" id="star-1" value="1" />
                <label class="star-1" for="star-1">1</label>
                <input type="radio" name="star" class="star-2" id="star-2" value="2"/>
                <label class="star-2" for="star-2">2</label>
                <input type="radio" name="star" class="star-3" id="star-3" value="3"/>
                <label class="star-3" for="star-3">3</label>
                <input type="radio" name="star" class="star-4" id="star-4" value="4"/>
                <label class="star-4" for="star-4">4</label>
                <input type="radio" name="star" class="star-5" id="star-5" value="5"/>
                <label class="star-5" for="star-5">5</label>
                <span></span>
            </div>

            <div align="center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-two">voter</button>
            </div>
    </section>
    <div class="modal fade" id="exampleModal-two" tabindex="-1" role="dialog" aria-labelledby="exampleModal-twoLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal-twoLabel">Que pensez-vous de l'événement {{ evttesting.nom }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {#<textarea placeholder="pourquoi cette note" class="form-control" rows="3" name="description"></textarea>#}
                    {{ form_widget(form.description,{'attr':{'placeholder':"votre texte ..." }}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                    <button type="submit" class="btn btn-primary">enregitrer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block login %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>

        {% endif %}
    </div>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}