{% extends "@User/Default/index.html.twig" %}
{% block slide %}
    <div class="inner_page-banner one-img">
    </div>
    <div class="using-border py-3">
        <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
                <li>
                    <a href="{{ path('user_homepage') }}">Index</a>
                    <span>/</span>
                </li>
                <li>Mes adhérations</li>
            </ul>
        </div>
    </div>

{% endblock %}
{% block body %}
    <section class="blog py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">mes association adhérer </h3>
            <div class="slid-img">
                <ul id="flexiselDemo1">
                    {% for asso in assos %}
                    <li>
                        <div class="agileinfo_port_grid">
                            <img src="{{ asset('images/') }}{{ asso.nomImage }}" alt=" " class="img-fluid" />
                            <div class="banner-right-icon">
                                <h4 class="pt-3">{{ asso.nomAssociation }}</h4>
                            </div>
                            <div class="outs_more-buttn">
                                <a href="{{ path("association_about",{'id':asso.idAssociation}) }}">Accéder</a>
                            </div>
                        </div>
                    </li>
                        {% endfor %}

                </ul>
            </div>
        </div>
    </section>
{% endblock %}
{% block login %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>

        {% endif %}
    </div>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}