{% extends "@Admin/Default/index.html.twig" %}
{% block body %}
{{ form_start(form) }}








<table align="center">
    <tr>
        <td>Nom</td>
        <td>{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
        <td>Prenom</td>
        <td>{{ form_widget(form.prenom) }}</td>
    </tr>
    <tr>
        <td>Cin</td>
        <td>{{ form_widget(form.cin) }}</td>
    </tr>
    <tr>
        <td>Adresse</td>
        <td>{{ form_widget(form.adresse) }}</td>
    </tr>
    <tr>
        <td> Telephone</td>
        <td>{{ form_widget(form.telephone) }}</td>
    </tr>
    <tr>
        <td>Permit</td>
        <td>{{ form_widget(form.permit) }}</td>
    </tr>
    <tr>
        <td> {{ form_widget(form.save) }}</td>
    </tr>


</table>






{{ form_end(form) }}




{% endblock %}