{% extends "@User/Default/index.html.twig" %}
{% block slide %}
    <div class="inner_page-banner one-img">
    </div>
    <div class="using-border py-3">
        <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
                <li>
                    <a href="{{ path('user_homepage') }}">Smart Cycle Accueil </a>
                    <span>/ /</span>
                </li>
                <li>Paiement </li>
            </ul>
        </div>
    </div>


{% endblock %}

{% block body %}
<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <div class="shop_inner_inf">
        <div class="privacy about">

            <div style="background-color: #30ffaa">
                <p style="color: white">{{ msg }}</p>

            </div>

            <style>
                .StripeElement {
                    box-sizing: border-box;

                    height: 40px;
                    width: 300px;

                    padding: 10px 12px;

                    border: 1px solid transparent;
                    border-radius: 4px;
                    background-color: white;

                    box-shadow: 0 1px 3px 0 #e6ebf1;
                    -webkit-transition: box-shadow 150ms ease;
                    transition: box-shadow 150ms ease;
                }

                .StripeElement--focus {
                    box-shadow: 0 1px 3px 0 #cfd7df;
                }

                .StripeElement--invalid {
                    border-color: #fa755a;
                }

                .StripeElement--webkit-autofill {
                    background-color: #fefde5 !important;
                }
            </style>
            <script src="https://js.stripe.com/v3/"></script>
            <form  method="post" id="payment-form">
                <div class="form-row">
                    <label for="card-element">
                        carte de crédit ou de débit :
                    </label>
                    <br>   <br>
                    <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display Element errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>
                <button ><a href="{{ path('Paiement',{'idCmd':cmd.idCmd })}}"> Payer </a> </button>
            </form>

            <div class="checkout-right-basket">
                <a href="{{ path('CommandeClient') }}"> Retour au mes commandes </a>
            </div>

            <script>
                var stripe = Stripe('pk_test_QvxDSiMOaWyudMVl8Gsz392s00v2isLSqq');
                var elements = stripe.elements();
                var style = {
                    base: {
                        // Add your base input styles here. For example:
                        fontSize: '16px',
                        color: "#32325d",
                    }
                };

                // Create an instance of the card Element.
                var card = elements.create('card', {style: style});

                // Add an instance of the card Element into the `card-element` <div>.
                card.mount('#card-element');
                card.addEventListener('change', function(event) {
                    var displayError = document.getElementById('card-errors');
                    if (event.error) {
                        displayError.textContent = event.error.message;
                    } else {
                        displayError.textContent = '';
                    }
                });
                // Create a token or display an error when the form is submitted.
                var form = document.getElementById('payment-form');
                form.addEventListener('submit', function(event) {
                    event.preventDefault();

                    stripe.createToken(card).then(function(result) {
                        if (result.error) {
                            // Inform the customer that there was an error.
                            var errorElement = document.getElementById('card-errors');
                            errorElement.textContent = result.error.message;
                        } else {
                            // Send the token to your server.
                            stripeTokenHandler(result.token);
                        }
                    });
                });
                function stripeTokenHandler(token) {
                    // Insert the token ID into the form so it gets submitted to the server
                    var form = document.getElementById('payment-form');
                    var hiddenInput = document.createElement('input');
                    hiddenInput.setAttribute('type', 'hidden');
                    hiddenInput.setAttribute('name', 'stripeToken');
                    hiddenInput.setAttribute('value', token.id);
                    form.appendChild(hiddenInput);

                    // Submit the form
                    form.submit();
                }
            </script>
            <div class="clearfix"> </div>
                <div class="clearfix"></div>
        </div>
    </div>
    <!-- //top products -->
</div>

{% endblock %}


{% block login %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>

        {% endif %}
    </div>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>




{% endblock %}